#photoWall {
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photoWall .photo {
  margin: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#photoWall img {
  width: 100%;
  height: auto;
  padding: 1px;
}